<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhsd.mapper.datasource34.YsMzJzlsMapper">

    <resultMap id="BaseResultMap" type="com.xhsd.entity.YsMzJzls">
        <id property="jzxh" column="JZXH" jdbcType="DECIMAL"/>
        <result property="ghxh" column="GHXH" jdbcType="DECIMAL"/>
        <result property="brbh" column="BRBH" jdbcType="DECIMAL"/>
        <result property="ksdm" column="KSDM" jdbcType="DECIMAL"/>
        <result property="ysdm" column="YSDM" jdbcType="VARCHAR"/>
        <result property="zyzd" column="ZYZD" jdbcType="DECIMAL"/>
        <result property="kssj" column="KSSJ" jdbcType="TIMESTAMP"/>
        <result property="jssj" column="JSSJ" jdbcType="TIMESTAMP"/>
        <result property="jzzt" column="JZZT" jdbcType="DECIMAL"/>
        <result property="yyxh" column="YYXH" jdbcType="DECIMAL"/>
        <result property="fzrq" column="FZRQ" jdbcType="TIMESTAMP"/>
        <result property="ghfz" column="GHFZ" jdbcType="DECIMAL"/>
        <result property="jzlx" column="JZLX" jdbcType="DECIMAL"/>
        <result property="pbzxm" column="PBZXM" jdbcType="VARCHAR"/>
        <result property="pbzgx" column="PBZGX" jdbcType="DECIMAL"/>
        <result property="pbzdh" column="PBZDH" jdbcType="VARCHAR"/>
        <result property="pbzdz" column="PBZDZ" jdbcType="VARCHAR"/>
        <result property="pbzdw" column="PBZDW" jdbcType="VARCHAR"/>
        <result property="zdmc" column="ZDMC" jdbcType="VARCHAR"/>
        <result property="czpb" column="CZPB" jdbcType="DECIMAL"/>
        <result property="mqzd" column="MQZD" jdbcType="VARCHAR"/>
        <result property="blcjsj" column="BLCJSJ" jdbcType="TIMESTAMP"/>
        <result property="jzqjbz" column="JZQJBZ" jdbcType="DECIMAL"/>
        <result property="jzqjswbz" column="JZQJSWBZ" jdbcType="DECIMAL"/>
        <result property="brtz" column="BRTZ" jdbcType="DECIMAL"/>
        <result property="ybyj" column="YBYJ" jdbcType="DECIMAL"/>
        <result property="bzxx" column="BZXX" jdbcType="VARCHAR"/>
        <result property="ssy" column="SSY" jdbcType="DECIMAL"/>
        <result property="szy" column="SZY" jdbcType="DECIMAL"/>
        <result property="mb" column="MB" jdbcType="DECIMAL"/>
        <result property="yqdybz" column="YQDYBZ" jdbcType="DECIMAL"/>
        <result property="lstd" column="LSTD" jdbcType="DECIMAL"/>
        <result property="zqwjid" column="ZQWJID" jdbcType="DECIMAL"/>
        <result property="tzbs" column="TZBS" jdbcType="DECIMAL"/>
        <result property="sylb" column="SYLB" jdbcType="VARCHAR"/>
        <result property="sysslb" column="SYSSLB" jdbcType="VARCHAR"/>
        <result property="ldjlxh" column="LDJLXH" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        JZXH,GHXH,BRBH,
        KSDM,YSDM,ZYZD,
        KSSJ,JSSJ,JZZT,
        YYXH,FZRQ,GHFZ,
        JZLX,PBZXM,PBZGX,
        PBZDH,PBZDZ,PBZDW,
        ZDMC,CZPB,MQZD,
        BLCJSJ,JZQJBZ,JZQJSWBZ,
        BRTZ,YBYJ,BZXX,
        SSY,SZY,MB,
        YQDYBZ,LSTD,ZQWJID,
        TZBS,SYLB,SYSSLB,
        LDJLXH
    </sql>

    <select id="queryYsMzJzlsDtoListByNameId" parameterType="com.xhsd.form.QueryYsMzJzlsDtoListForm" resultType="com.xhsd.dto.YsMzJzlsDto">

        SELECT A.JZXH,
        A.KSSJ,
        KS.KSMC,
        YG.YGXM,
        B.MZHM,
        B.BRXM
        FROM YS_MZ_JZLS A
        LEFT JOIN GY_KSDM KS ON (A.KSDM = KS.KSDM)
        LEFT JOIN GY_YGDM YG ON (A.YSDM = YG.YGDM),
        MS_BRDA B WITH ( NOLOCK )
        WHERE
        A.BRBH = B.BRID
        <if test='brxm != null and brxm != "" '>
            AND B.BRXM = #{brxm}
        </if>
        AND B.SFZH = #{sfzh}
        AND B.ZXBZ = 0
        AND A.KSSJ >= DATEADD( MONTH
        , - 3
        , GETDATE( ) )
        order by A.KSSJ desc

    </select>


</mapper>

