<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhsd.mapper.HpadArticleCustomMapper">

    <insert id="insertHpadArticleCustom" parameterType="com.xhsd.entity.HpadArticleCustom">
        insert into hpad_article_custom
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId != null">article_id,</if>
            <if test="title != null">title,</if>
            <if test="subTitle != null">sub_title,</if>
            <if test="fullTitle != null">full_title,</if>
            <if test="alias != null">alias,</if>
            <if test="seoKeywords != null">seo_keywords,</if>
            <if test="seoDescription != null">seo_description,</if>
            <if test="author != null">author,</if>
            <if test="editor != null">editor,</if>
            <if test="source != null">source,</if>
            <if test="imageUrl != null">image_url,</if>
            <if test="videoUrl != null">video_url,</if>
            <if test="videoDuration != null">video_duration,</if>
            <if test="imageList != null">image_list,</if>
            <if test="textContent != null">text_content,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="articleId != null">#{articleId,jdbcType=DECIMAL},</if>
            <if test="title != null">#{title,jdbcType=VARCHAR},</if>
            <if test="subTitle != null">#{subTitle,jdbcType=VARCHAR},</if>
            <if test="fullTitle != null">#{fullTitle,jdbcType=VARCHAR},</if>
            <if test="alias != null">#{alias,jdbcType=VARCHAR},</if>
            <if test="seoKeywords != null">#{seoKeywords,jdbcType=VARCHAR},</if>
            <if test="seoDescription != null">#{seoDescription,jdbcType=VARCHAR},</if>
            <if test="author != null">#{author,jdbcType=VARCHAR},</if>
            <if test="editor != null">#{editor,jdbcType=VARCHAR},</if>
            <if test="source != null">#{source,jdbcType=VARCHAR},</if>
            <if test="imageUrl != null">#{imageUrl,jdbcType=VARCHAR},</if>
            <if test="videoUrl != null">#{videoUrl,jdbcType=VARCHAR},</if>
            <if test="videoDuration != null">#{videoDuration,jdbcType=VARCHAR},</if>
            <if test="imageList != null">#{imageList,jdbcType=VARCHAR},</if>
            <if test="textContent != null">#{textContent,jdbcType=VARCHAR},</if>
        </trim>
    </insert>


</mapper>

